<style>
        a:link {
          color: green;
          background-color: transparent;
          text-decoration: none;
        }
        
        a:visited {
          color: pink;
          background-color: transparent;
          text-decoration: none;
        }
        
        a:hover {
          color: red;
          background-color: transparent;
          text-decoration: underline;
        }
        
        a:active {
          color: yellow;
          background-color: transparent;
          text-decoration: underline;
        }

         M1 {
            background-color: blue;
          }

         M2 {
            background-color:  red;
          }

         M3 {
            background-color: green;
          }

         M4 {
            background-color: yellow;
          }

         M5 {
            background-color: purple;
          }


        </style>